@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5" id="ImgList">
    <h5>Danh sách sản phẩm</h5>
    <table class="table table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Creat Ai</th>
                    <th scope="col">Imgae</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Product 1</td>
                    <td>10000</td>
                    <td>12-5-2000</td>
                    <td>
                        <img width="100%" height="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTqFDb1RIb810UVhBjHUCSNBKiDsgJECahyg&usqp=CAU" class="card-img-top" alt="...">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">View</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Product 2</td>
                    <td>10000</td>
                    <td>12-5-2000</td>
                    <td>
                        <img width="100%" height="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTqFDb1RIb810UVhBjHUCSNBKiDsgJECahyg&usqp=CAU" class="card-img-top" alt="...">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">View</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Product 3</td>
                    <td>10000</td>
                    <td>12-5-2000</td>
                    <td>
                        <img width="100%" height="100%" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRTqFDb1RIb810UVhBjHUCSNBKiDsgJECahyg&usqp=CAU" class="card-img-top" alt="...">
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">View</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </table>
</div>